.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Poppins, serif';
}

.section{
  min-height: 100vh;
  padding: 100px;
}

#header{
  background-image: url("1692951785182.png");
  background-size: cover;
  position: relative;
  text-align: left;
}

#header h1{
  color: white;
  width: 200px;
  font-size: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#header a{
  color: blue;
  border: 3px solid white;
  background-color: yellow;
  border-radius: 3px;
  padding: 20px;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color .2s linear, background-color .2s linear;
}

#header a:hover{
  background-color: red;
}

.red{
  color: red;
}

nav{
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px; 
  position: sticky;
  top: 0;
  border-bottom: 5px solid red;
}

nav h2{
  color: white;
}

nav ul{
  display: flex;
  margin-left: 100px;
}

nav li{
  padding: 5px;
  margin-right: 20px;
}

nav li a{
  color: white;
  font-size: 24px;
}

nav li a:hover{
  color: red;
}

.hobby img{
  width: 120px;
  height: 120px;
  margin-right: 30px;
}

.section h1{
  font-size: 64px;
  text-align: center;
  margin-bottom: 30px;
}

a,p{
  font-family: "poppins", sans-serif;
}

.aboutLeft{
  width: 50%;
  display: inline-block;
  padding: 40px;
  font-size: 24px;
  text-align: center;
}

.aboutRight{
  width: 45%;
  display: inline-block;
  padding: 40px;
  vertical-align: top;
}

.aboutLeft img{
  border-radius: 50%;
  width: 400px;
  background-color: brown;
  margin-bottom: 20px;
}

.hobby{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid blue;
}

#projects{
   background-color: rgb(193, 193, 193);
}

.projects{
  width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project{
  width: 333px;
  height: 300px;
  background-size: color;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#apng{
  background-image: url(a.png);
}

#lpng{
  background-image: url(l.png);
}

#ppng{
  background-image: url(p.png);
}

#qpng{
  background-image: url(q.png);
}

#spng{
  background-image: url(s.png);
}

.project a{
  color: white;
  background-color: red;
  display: block;
  width: 100%;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  opacity: 0;
  transition:  opacity .2s linear;
}

.project:hover a{
  opacity: 1;
}

.skillScale{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.levels{
  display: flex;
  justify-content: space-between;
}

.level{
  font-size: 30px;
}

.bar{
  height: 60px;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  color: white;
}

.bar.beg{
  width: 33%;
}

.bar.int{
  width: 66%;
}

.bar.exp{
  width: 100%;
}

.graph{
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 400px;
  margin-top: 50px;
  position: relative;
}

.bar.first{
  background-color: orange;
}

.bar.second{
  background-color: green;
}

.bar.third{
  background-color: yellow;
}

.bar.fourth{
  background-color: black;
}

.bar.fifth{
  background-color: red;
}

.marker{
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: blue;
  z-index: -1
}

.marker.second{
  left: 33%
}

.marker.third{
  left: 66%
}

.marker.fourth{
  left: 100%
}

footer{
  height: 100px;
  background-color: yellow;
  color: white;
  text-align: center;
}

footer ul{
  display: flex;
  justify-content: center;
  margin: auto;
}

footer li{
  padding: 20px;
}

footer a{
  color: white;
}

@media(max-width: 900px){

  .section{
    padding: 300px;
  }

  #header{
    text-align: center;
  }

  #header h1{
    font-size: 40px;
    width: auto;
    transform: none;
    position: static;
  }

  nav{
    flex-direction: column;
    padding: 10px 0;
  }

  nav ul{
    margin: 0;
  }

  nav li{
    font-size: 20px;
  }

}
